In [7]:
import ssl
import sys
import psycopg2
from sqlalchemy import create_engine
import paho.mqtt.client
import json
import pandas as pd

In [8]:
def pretty_select(query):
    connection_string = 'postgres://{}:{}@{}:5432/{}'.format(user, password, host, dbname)
    try:
        engine = create_engine(connection_string)
        records = pd.read_sql_query(query, engine)
    except Exception as e:
        print('Error en el query:', e)
    else:
        return records

In [9]:
def select(query):
    cur = myConnection.cursor()
    try:
        cur.execute(query)
    except Exception as e:
        myConnection.commit()
        print('Error en el query:', e)
    else:
        records = cur.fetchall()
        cur.close()
        return records

In [10]:
host='ruby.db.elephantsql.com'
user ='uicdhpnp'
password='Kfp61NZwnYQVCSDf-zl7Jae836R2u0Fn'
dbname='uicdhpnp'

In [20]:
query = """insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (25021709, 'Hestia', 'Boggish', '1/20/1983');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (25399720, 'Edward', 'Odby', '12/22/1984');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (26044929, 'Angelina', 'Nairy', '11/26/1982');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (26118740, 'Mickie', 'Dunning', '2/26/1977');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (24997875, 'Sibyl', 'Pieper', '2/6/1986');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (25619359, 'Ferd', 'Boshere', '4/25/1997');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (24776966, 'Vail', 'Cathenod', '8/4/1994');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (27205181, 'Benni', 'MacCracken', '3/9/1979');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (27651832, 'Annamaria', 'Leach', '1/7/1991');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (25300265, 'Cos', 'Flicker', '8/4/1979');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (27408935, 'Matelda', 'Goddert.sf', '11/26/1997');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (24846813, 'Moreen', 'Nelthrop', '6/19/1997');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (24714462, 'Bellanca', 'Mowett', '4/30/1990');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (27669949, 'Melanie', 'Cathro', '6/21/1976');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (25259010, 'Loella', 'MacWhirter', '5/14/1987');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (24807501, 'Joyous', 'Orrick', '3/12/1976');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (24077324, 'Petra', 'Royse', '10/13/1992');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (26066636, 'Shellie', 'Sweetsur', '6/26/1985');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (26566783, 'Rafferty', 'De Michetti', '4/15/1986');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (25515100, 'Zoe', 'Meakes', '12/4/1978');
insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (27937999, 'Jyoti', 'Paolo', '3/6/1990');"""

cur = myConnection.cursor()
cur.execute(query)

In [257]:
query = """insert into Afiliado (ID_Cliente, puntos, fecha) values (25021709, 73115422, '8/7/2019');
insert into Afiliado (ID_Cliente, puntos, fecha) values (25399720, 48326798, '7/1/2018');
insert into Afiliado (ID_Cliente, puntos, fecha) values (26044929, 29777845, '7/4/2018');
insert into Afiliado (ID_Cliente, puntos, fecha) values (26118740, 64145287, '2/21/2019');
insert into Afiliado (ID_Cliente, puntos, fecha) values (24997875, 16701050, '7/12/2018');
insert into Afiliado (ID_Cliente, puntos, fecha) values (25619359, 91948793, '1/19/2019');
insert into Afiliado (ID_Cliente, puntos, fecha) values (24776966, 61027902, '2/19/2020');
insert into Afiliado (ID_Cliente, puntos, fecha) values (27205181, 77602299, '5/22/2020');
insert into Afiliado (ID_Cliente, puntos, fecha) values (27651832, 97954860, '9/7/2018');
insert into Afiliado (ID_Cliente, puntos, fecha) values (25300265, 79125628, '12/31/2019');
insert into Afiliado (ID_Cliente, puntos, fecha) values (27408935, 3980860, '9/2/2018');
insert into Afiliado (ID_Cliente, puntos, fecha) values (24846813, 68522885, '11/13/2019');
insert into Afiliado (ID_Cliente, puntos, fecha) values (24714462, 31311721, '10/20/2018');
insert into Afiliado (ID_Cliente, puntos, fecha) values (27669949, 38812618, '5/15/2019');
insert into Afiliado (ID_Cliente, puntos, fecha) values (25259010, 2204526, '11/5/2018');"""

cur = myConnection.cursor()
cur.execute(query)

In [41]:
myConnection.close()

In [42]:
myConnection = psycopg2.connect(host = host,
                                user= user, password =password,
                                dbname= dbname)

In [ ]:
query = """drop table afiliado"""
cur = myConnection.cursor()
cur.execute(query)
cur.close()
myConnection.commit()

In [35]:
query = """create table Afiliado (
	ID_Cliente varchar (8),
	puntos numeric (15,0),
    fecha date,
    primary key (ID_Cliente),
	foreign key (ID_Cliente) references Cliente
		on delete cascade
);"""
cur = myConnection.cursor()
cur.execute(query)
cur.close()
myConnection.commit()

In [250]:
query = """insert into Factura (ID_Factura, fecha, ID_Banco, ID_Compra) values (4001, '7/9/2019', 2, 6001);"""

cur = myConnection.cursor()
cur.execute(query)

In [31]:
query = """ insert into Cliente (ID_Cliente, nombre, apellido, cumpleaños) values (25021709, 'Hestia', 'Boggish', '1/20/1983');"""
cur = myConnection.cursor()
cur.execute(query)

UniqueViolation: duplicate key value violates unique constraint "cliente_pkey"
DETAIL:  Key (id_cliente)=(25021709) already exists.

In [29]:
query = """delete from cliente"""
cur = myConnection.cursor()
cur.execute(query)

In [270]:
query = """UPDATE fac
 SET fac.total = c.suma
 FROM factura fac
 INNER JOIN
 (
   SELECT ID_Compra, SUM(cant) suma
   FROM compra
   GROUP BY ID_Compra
 ) c ON fac.ID_Compra = c.ID_Compra"""

In [275]:
query = """select * from cliente"""
select(query)

[('25021709', 'Hestia', 'Boggish', datetime.date(1983, 1, 20)),
 ('25399720', 'Edward', 'Odby', datetime.date(1984, 12, 22)),
 ('26044929', 'Angelina', 'Nairy', datetime.date(1982, 11, 26)),
 ('26118740', 'Mickie', 'Dunning', datetime.date(1977, 2, 26)),
 ('24997875', 'Sibyl', 'Pieper', datetime.date(1986, 2, 6)),
 ('25619359', 'Ferd', 'Boshere', datetime.date(1997, 4, 25)),
 ('24776966', 'Vail', 'Cathenod', datetime.date(1994, 8, 4)),
 ('27205181', 'Benni', 'MacCracken', datetime.date(1979, 3, 9)),
 ('27651832', 'Annamaria', 'Leach', datetime.date(1991, 1, 7)),
 ('25300265', 'Cos', 'Flicker', datetime.date(1979, 8, 4)),
 ('27408935', 'Matelda', 'Goddert.sf', datetime.date(1997, 11, 26)),
 ('24846813', 'Moreen', 'Nelthrop', datetime.date(1997, 6, 19)),
 ('24714462', 'Bellanca', 'Mowett', datetime.date(1990, 4, 30)),
 ('27669949', 'Melanie', 'Cathro', datetime.date(1976, 6, 21)),
 ('25259010', 'Loella', 'MacWhirter', datetime.date(1987, 5, 14)),
 ('24807501', 'Joyous', 'Orrick', datetime.date(1976, 3, 12)),
 ('24077324', 'Petra', 'Royse', datetime.date(1992, 10, 13)),
 ('26066636', 'Shellie', 'Sweetsur', datetime.date(1985, 6, 26)),
 ('26566783', 'Rafferty', 'De Michetti', datetime.date(1986, 4, 15)),
 ('25515100', 'Zoe', 'Meakes', datetime.date(1978, 12, 4)),
 ('27937999', 'Jyoti', 'Paolo', datetime.date(1990, 3, 6))]

In [ ]:
query = """update sucursal set max_capacidad = 100 where ID_Sucursal like '1001'"""
cur = myConnection.cursor()
cur.execute(query)
cur.close()
myConnection.commit()

In [91]:
query = """select * from cliente  full join afiliado on cliente.ID_Cliente = afiliado.ID_Cliente 
            where cliente.ID_Cliente is null or afiliado.ID_Cliente is null"""
select(query)

[('24403879',
  'Orelee',
  'Hilbourne',
  datetime.date(1988, 12, 20),
  None,
  None,
  None),
 ('27589249',
  'Candice',
  'Dinneges',
  datetime.date(1978, 3, 10),
  None,
  None,
  None),
 ('25908283', 'Ev', 'Thurborn', datetime.date(1977, 12, 16), None, None, None),
 ('28893227',
  'Neilla',
  'Andell',
  datetime.date(1983, 2, 23),
  None,
  None,
  None),
 ('27459306',
  'Patience',
  'Spinelli',
  datetime.date(1977, 3, 13),
  None,
  None,
  None),
 ('28157623',
  'Amitie',
  'Willowby',
  datetime.date(1994, 4, 20),
  None,
  None,
  None),
 ('28861799',
  'Annamarie',
  'Laurance',
  datetime.date(1982, 4, 26),
  None,
  None,
  None),
 ('25531704',
  'Hurlee',
  'Lambourn',
  datetime.date(1985, 4, 14),
  None,
  None,
  None),
 ('24490605', 'Alair', 'Yeo', datetime.date(1991, 12, 31), None, None, None)]

QUERIES

In [ ]:
#Cuales son los clientes conocidos y desconocidos que mas han comprado en cada una de las tiendas

In [ ]:
#Diga cual es la categoría de producto que menos se ha vendido en cada una de las tiendas.

In [ ]:
#Cuales es el top 5 de productos que mas se han vendido en cada una de las tiendas.

In [ ]:
#Diga todos los clientes que en los últimos 7 días a partir de la ejecución del query han comprado
#solo en una tienda y los que han comprado en las dos tiendas (realice queries distintos).

In [ ]:
#Haga un análisis por estante de cuales categorías de producto tienen mayor rotación de
#inventario y haga una propuesta de modificación

In [ ]:
#Encuentre a todos los clientes que han pagado con 2 bancos distintos en la ultima semana. 
#Enumérelos y diga si son parte del programa de afiliados.

TRIGGERS

In [ ]:
#Realizar compra: Esto procedimiento almacenado debe tener como parámetro una lista de
#productos con su cantidad, el banco por donde se va a cancelar y un cliente. Debe tener toda la
#lógica para ingresar en las distintas tablas la compra realizada.

In [ ]:
#Haga un procedimiento almacenado que al final del día saque un estado de cuenta de cuanto
#dinero se tiene en cada banco

In [ ]:
#Haga un procedimiento almacenado que al final del mes saque un estado de cuenta de los
#puntos de todos los afiliados al programa de fidelidad que compraron ese mes.

PROCEDURES

In [ ]:
#Cada vez que entre un cliente conocido, se debe agregar 1 punto a su estado de cuenta del
#programa de fidelidad.

In [ ]:
#Cada vez que un cliente conocido realice una compra, se le agregaran los puntos en su programa
#de fidelidad

In [ ]:
#Si un cliente desconocido con la misma cedula compra mas de 4 veces, automáticamente se
#agregará al programa de fidelidad.